### Question

The text stream below is Relative Humidity measurement data around Lake Michigan recordded around January of 2020. Convert this data into the dataframe format in as minimal lines of code as possible.

<b>ID Year DOY UTC RelHum 7 2020 013 2354 77.8 7 2020 013 2356 77.2 7 2020 013 2358 77.2 7 2020 014 0000 77.7 7 2020 014 0002 77.6 7 2020 014 0004 77.4 7 2020 014 0006 77.8 7 2020 014 0008 78.5 7 2020 014 0010 78.8 7 2020 014 0012 78.9 7 2020 014 0014 79.1 7 2020 014 0016 79.2 7 2020 014 0018 79.2 7 2020 014 0020 78.2 7 2020 014 0022 77.9 7 2020 014 0024 78.2 7 2020 014 0026 77.8 7 2020 014 0028 77.6 7 2020 014 0030 78.0 7 2020 014 0032 78.5 7 2020 014 0034 78.9 7 2020 014 0036 79.0 7 2020 014 0038 78.7 7 2020 014 0040 78.5 7 2020 014 0042 78.5 7 2020 014 0044 78.1 7 2020 014 0046 78.1 7 2020 014 0048 78.4 7 2020 014 0050 78.8 7 2020 014 0052 79.4 7 2020 014 0054 79.7 7 2020 014 0056 79.5 7 2020 014 0058 79.6 7 2020 014 0100 79.2 7 2020 014 0102 78.8 7 2020 014 0104 79.0 7 2020 014 0106 79.0 7 2020 014 0108 78.9 7 2020 014 0110 79.0 7 2020 014 0112 78.8 7 2020 014 0114 78.8 7 2020 014 0116 79.1 7 2020 014 0118 78.8 7 2020 014 0120 78.8 7 2020 014 0122 78.8 7 2020 014 0124 78.9 7 2020 014 0126 78.6 7 2020 014 0128 78.8 7 2020 014 0130 78.4 7 2020 014 0132 78.1 7 2020 014 0134 77.8 7 2020 014 0136 77.9 7 2020 014 0138 77.8 7 2020 014 0140 78.2 7 2020 014 0142 78.6 7 2020 014 0144 78.7 7 2020 014 0146 78.2 7 2020 014 0148 78.2 7 2020 014 0150 77.8 7 2020 014 0152 78.3 7 2020 014 0154 78.4 7 2020 014 0156 78.5 7 2020 014 0158 78.2 7 2020 014 0200 78.8 7 2020 014 0202 78.7 7 2020 014 0204 78.4 7 2020 014 0206 78.7 7 2020 014 0208 78.6 7 2020 014 0210 78.6 7 2020 014 0212 78.5 7 2020 014 0214 78.7 7 2020 014 0216 78.4 7 2020 014 0218 78.9 7 2020 014 0220 79.1 7 2020 014 0222 79.2 7 2020 014 0224 79.3 7 2020 014 0226 79.4 7 2020 014 0228 79.3 7 2020 014 0230 79.4 7 2020 014 0232 79.5 7 2020 014 0234 79.4 7 2020 014 0236 79.4 7 2020 014 0238 79.5 7 2020 014 0240 79.3 7 2020 014 0242 79.5 7 2020 014 0244 79.6 7 2020 014 0246 79.7 7 2020 014 0248 79.6 7 2020 014 0250 79.6 7 2020 014 0252 79.7 7 2020 014 0254 79.9 7 2020 014 0256 80.1 7 2020 014 0258 80.2 7 2020 014 0300 80.0</b>

In [115]:
import re 
import pandas as pd 

text = re.split(r' ', 'ID Year DOY UTC RelHum 7 2020 013 2354 77.8 7 2020 013 2356 77.2 7 2020 013 2358 77.2 7 2020 014 0000 77.7 7 2020 014 0002 77.6 7 2020 014 0004 77.4 7 2020 014 0006 77.8 7 2020 014 0008 78.5 7 2020 014 0010 78.8 7 2020 014 0012 78.9 7 2020 014 0014 79.1 7 2020 014 0016 79.2 7 2020 014 0018 79.2 7 2020 014 0020 78.2 7 2020 014 0022 77.9 7 2020 014 0024 78.2 7 2020 014 0026 77.8 7 2020 014 0028 77.6 7 2020 014 0030 78.0 7 2020 014 0032 78.5 7 2020 014 0034 78.9 7 2020 014 0036 79.0 7 2020 014 0038 78.7 7 2020 014 0040 78.5 7 2020 014 0042 78.5 7 2020 014 0044 78.1 7 2020 014 0046 78.1 7 2020 014 0048 78.4 7 2020 014 0050 78.8 7 2020 014 0052 79.4 7 2020 014 0054 79.7 7 2020 014 0056 79.5 7 2020 014 0058 79.6 7 2020 014 0100 79.2 7 2020 014 0102 78.8 7 2020 014 0104 79.0 7 2020 014 0106 79.0 7 2020 014 0108 78.9 7 2020 014 0110 79.0 7 2020 014 0112 78.8 7 2020 014 0114 78.8 7 2020 014 0116 79.1 7 2020 014 0118 78.8 7 2020 014 0120 78.8 7 2020 014 0122 78.8 7 2020 014 0124 78.9 7 2020 014 0126 78.6 7 2020 014 0128 78.8 7 2020 014 0130 78.4 7 2020 014 0132 78.1 7 2020 014 0134 77.8 7 2020 014 0136 77.9 7 2020 014 0138 77.8 7 2020 014 0140 78.2 7 2020 014 0142 78.6 7 2020 014 0144 78.7 7 2020 014 0146 78.2 7 2020 014 0148 78.2 7 2020 014 0150 77.8 7 2020 014 0152 78.3 7 2020 014 0154 78.4 7 2020 014 0156 78.5 7 2020 014 0158 78.2 7 2020 014 0200 78.8 7 2020 014 0202 78.7 7 2020 014 0204 78.4 7 2020 014 0206 78.7 7 2020 014 0208 78.6 7 2020 014 0210 78.6 7 2020 014 0212 78.5 7 2020 014 0214 78.7 7 2020 014 0216 78.4 7 2020 014 0218 78.9 7 2020 014 0220 79.1 7 2020 014 0222 79.2 7 2020 014 0224 79.3 7 2020 014 0226 79.4 7 2020 014 0228 79.3 7 2020 014 0230 79.4 7 2020 014 0232 79.5 7 2020 014 0234 79.4 7 2020 014 0236 79.4 7 2020 014 0238 79.5 7 2020 014 0240 79.3 7 2020 014 0242 79.5 7 2020 014 0244 79.6 7 2020 014 0246 79.7 7 2020 014 0248 79.6 7 2020 014 0250 79.6 7 2020 014 0252 79.7 7 2020 014 0254 79.9 7 2020 014 0256 80.1 7 2020 014 0258 80.2 7 2020 014 0300 80.0')

cols = text[0:5]
cols_cnt=len(cols)
idx = range(int((len(text) - len(cols)) / len(cols)))
df = pd.DataFrame(columns = cols, index = idx)

i = 0
for j in range(cols_cnt, len(text), cols_cnt):
    df.iloc[i, :] = text[j: j+cols_cnt]
    i = i + 1
    
df

   ID  Year  DOY   UTC RelHum
0   7  2020  013  2354   77.8
1   7  2020  013  2356   77.2
2   7  2020  013  2358   77.2
3   7  2020  014  0000   77.7
4   7  2020  014  0002   77.6
.. ..   ...  ...   ...    ...
89  7  2020  014  0252   79.7
90  7  2020  014  0254   79.9
91  7  2020  014  0256   80.1
92  7  2020  014  0258   80.2
93  7  2020  014  0300   80.0

[94 rows x 5 columns]

### Question

Create a dataframe of name, address, email and phone_number from the text below.

<b>Tim Hortons restaurants have stopped selling Beyond Meat products at its coffee and donut shops across two of Canada’s biggest provinces. The chain had been serving the Beyond Burger and a Beyond Meat breakfast sandwich made with the company’s imitation sausage products. After an initial launch starting in June at nearly 4,000 Canadian locations, the items were scaled back to the provinces of Ontario and British Columbia in September. “We introduced Beyond Meat as a limited time offer. We are always listening to our guests and testing new products that align to our core menu offerings. We may offer Beyond Meat again in the future,” Tim Hortons said in an e-mailed statement. Tim Hortons lives at 123, Nebraska St, New York, CA. His email is tim.hortons@gmail.com. His phone number is 123-456-7890. Pagliuca was quick to note Bain Capital’s acquired companies have grown revenue two times faster than S&P 500 components and have created 1.1 million more jobs since being bought by the private equity shop. Bain Capital lives at 4567, California Ave, Seattle, VA. His email is bain.capital@gmail.com. His phone number is 896-374-9365.</b>

In [2]:
import re 
information=re.findall(r'\w+ \w+ lives at .*?\d{3}-\d{3}-\d{4}', 'Tim Hortons restaurants have stopped selling Beyond Meat products at its coffee and donut shops across two of Canada’s biggest provinces. The chain had been serving the Beyond Burger and a Beyond Meat breakfast sandwich made with the company’s imitation sausage products. After an initial launch starting in June at nearly 4,000 Canadian locations, the items were scaled back to the provinces of Ontario and British Columbia in September. “We introduced Beyond Meat as a limited time offer. We are always listening to our guests and testing new products that align to our core menu offerings. We may offer Beyond Meat again in the future,” Tim Hortons said in an e-mailed statement. Tim Hortons lives at 123, Nebraska St, New York, CA. His email is tim.hortons@gmail.com. His phone number is 123-456-7890. Pagliuca was quick to note Bain Capital’s acquired companies have grown revenue two times faster than S&P 500 components and have created 1.1 million more jobs since being bought by the private equity shop. Bain Capital lives at 4567, California Ave, Seattle, VA. His email is bain.capital@gmail.com. His phone number is 896-374-9365.')
information_cnt=len(information)
information

['Tim Hortons lives at 123, Nebraska St, New York, CA. His email is tim.hortons@gmail.com. His phone number is 123-456-7890',
 'Bain Capital lives at 4567, California Ave, Seattle, VA. His email is bain.capital@gmail.com. His phone number is 896-374-9365']

In [3]:
import pandas as pd
#cols=['Name', 'Address', 'House number', 'Street', 'City', 'State', 'Email', 'Phone'] # (8)
cols=['Name', 'Address', 'Email', 'Phone'] # (8)
cols_cnt=len(cols)
idx = range(information_cnt)
df = pd.DataFrame(columns = cols, index = idx)

for i in range(0,len(information)):
    Name=information[i].split(' lives at ')[0]
    Rest=information[i].split(' lives at ')[1]
    
    Address=re.findall('\d+, \w+ [\w+]+,[ \w+]+, [A-Z][A-Z]', Rest.split('. ')[0])[0]
    #House_number=Address.split(', ')[0]
    #Street=Address.split(', ')[1]
    #City=Address.split(', ')[2]
    #State=Address.split(', ')[3]
    #print(Name, Address, House_number, Street, City, State, end=' ')
    
    Email=re.findall('\w*[.]*\w+@\w+[.]\w{2,4}', Rest.split('. ')[1])[0]
    Phone=re.findall('\d{3}-\d{3}-\d{4}', Rest.split('. ')[2])[0]
    print(Email, Phone)
    
    #df.iloc[i,:]=[Name, Address, House_number, Street, City, State, Email, Phone]
    df.iloc[i,:]=[Name, Address, Email, Phone]

df

tim.hortons@gmail.com 123-456-7890
bain.capital@gmail.com 896-374-9365

,Name,Address,Email,Phone
0,Tim Hortons,"123, Nebraska St, New York, CA",tim.hortons@gmail.com,123-456-7890
1,Bain Capital,"4567, California Ave, Seattle, VA",bain.capital@gmail.com,896-374-9365

The dataframe should look like below.

![](hw-sample-df.png)